.invitation-card {
  width: 31.4375rem;
  height: 10rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #1A1A1A;
  padding: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.invitation-card p {
  font-size: 0.9rem;
  color: #b3b3b3;
  /* Subtle text color for description */
}

.invitation-card b {
  color: #6e44ff;
  /* Purple text for team name */
}

.invitation-card h3 {
  font-size: 1.2rem;
  color: #ffffff;
  /* White text for team name */
}

.invitation-card .invitation-actions {
  display: flex;
  gap: 10px;
  /* Add space between buttons */
}

.invitation-card .accept-btn,
.invitation-card .reject-btn {
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
}

.invitation-card h3 {
  color: #FFF;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem;
  /* 108.333% */
}

.accept-btn {
  background-color: #6e44ff;
  /* Purple button for accept action */
  color: #ffffff;
}

.accept-btn:hover {
  background-color: #5a36cc;
  /* Slightly darker purple on hover */
}

.reject-btn {
  background-color: #6e44ff;
  /* Red button for reject action */
  color: #ffffff;
}

.reject-btn:hover {
  background-color: #5a36cc;
  /* Slightly darker red on hover */
}

/* Rejected Status */
.rejected-status {
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #3a1717;
  /* Red button for reject action */
  border: 1px solid #d80c09;
  color: #ffffff;
  /* White text for rejected status */
}

/* Accepted Status */
.accepted-status {
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  border: 1px solid #00fd00;
  background-color: #174016;
  /* Green background for accepted status */
  color: #ffffff;
  /* White text for accepted status */
}