/* Status Badges */
.badge {
  width: 4.5rem;
  height: 2rem;
  display: inline-block;
  padding-inline: 0.5rem;
  padding-top: 7px;
  border-radius: 0.3125rem;
  font-size: 0.8rem;
  text-align: center;
  border:1px solid;
}